<!DOCTYPE html>
<html>

<head>
    <title>Review Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="testbox">
        <form action="/" method="POST">
            <div class="item">
                <p>Submit your review</p>
                <textarea name="review" rows="5"
                    cols="50">{% if original_review %}{{ original_review }}{% endif %}</textarea>
            </div>
            <div class="btn-block">
                <button type="submit" href="/">Process review</button>
            </div>
        </form>
    </div>
    {% if processed_review %}
    <div class="testbox">
        <div class="result">
            <p>Processed review:</p>
            <p>{{ processed_review }}</p>
        </div>
    </div>
    {% endif %}
</body>

</html>